{% extends "base.html" %}
{% block title %}ホーム{% endblock %}

{% block contents %}
<div class="container-fluid" style="height: 100vh;">
    <p>{{ user.username }}さん、こんにちは。</p>
    <a href="{% url 'app_folder:top' %}">ログアウト</a>
    <br>
    <div class="container">
        <h2>グループ</h2>
        <ul>
            {% for item in groups_with_members %}
            <li>
                <a href="{% url 'app_folder:group_detail' item.group.id %}">
                   <strong>{{ item.group.name }}</strong>
                </a>
                <ul>
                    {% for member in item.members %}
                    <li>{{ member.username }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% empty %}
            <p>所属しているグループはありません。</p>
            {% endfor %}
        </ul>

        <!-- グループ作成リンク -->
        <div class="mt-3">
            <a href="{% url 'app_folder:create_group' %}" class="btn btn-secondary">グループ作成</a>
        </div>
    </div>
{% endblock %}


