{% extends "base.html" %}
{% block title %}ホーム{% endblock %}

{% block contents %}
<div class="container-fluid" style="height: 100vh;">
    <p>{{ user.username }}さん、こんにちは。</p>
    <a href="{% url 'app_folder:logout' %}">ログアウト</a>

    <div class="container">
        <h2>グループ</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    {% for group in groups %}
                    <li class="list-group-item">
                        <a href="{% url 'app_folder:group_detail' group.id %}">{{ group.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    
        <!-- グループ作成リンク -->
        <div class="mt-3">
            <a href="{% url 'app_folder:create_group' %}" class="btn btn-secondary">グループ作成</a>
        </div>
    </div>
{% endblock %}


