{% extends "base.html" %}

{% block contents %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <h2>このアプリについて</h2>
    



</div>
{% endblock %}

<style>
    .gallery-container {
        max-width: 600px;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .gallery {
        display: flex;
        gap: 16px;
    }

    .gallery-item {
        flex: 0 0 auto;
        width: 100%;
        max-width: 300px;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .gallery-container::-webkit-scrollbar {
        height: 10px;
    }

    .gallery-container::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
</style>
