{% extends "base.html" %}

{% block contents %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; border-radius: 15px;">
        <div class="card-body text-center">
            <a href="{% url 'app_folder:login' %}" class="btn btn-primary btn-block mb-3" style="border-radius: 25px;">ログイン</a>
            <div class="my-3">
                <p class="text-muted">----- アカウントがない方は -----</p>
            </div>
            <a href="{% url 'app_folder:signup' %}" class="btn btn-outline-primary btn-block" style="border-radius: 25px;">アカウントを作成</a>
        </div>
    </div>
</div>
{% endblock %}
