<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- カスタム CSS -->
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">

    <!-- JavaScript（必要な場合のみ） -->
    <!-- jQuery（依存関係がある場合のみ） -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title> ワリポケ </title>
    {% block extra_css %}{% endblock %}
</head>
 
  <body>
    <h1>Home</h1>
    <!-- ナビゲーションバー -->
    <div class="container-fluid">
      <div>
        <h2>Profile</h2>
        <p>id: {{user.id}}</p>
        <p>username: {{user.username}}</p>
        <p>email: {{user.email}}</p>
      </div>
      <div>
        <h2>Organizations</h2>
        {% for org in orgs %}
        <p>id: {{org.id}}</p>
        <p>name: {{org.name}}</p>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ワリポケ</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    </ul>
                </div>
            </div>
        </nav>        
      </div>
    </div>
  </div>

    <!-- コンテンツ本体 -->
    <div id="content" class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% block contents %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>

<!-- アイコンライブラリ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>feather.replace()</script>

