<!-- base.html -->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/jpeg" href="{% static 'favicon.png' %}">

    <title> ワリポケ </title>

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <!-- ナビゲーションバー -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style='background-color:cadetblue;'>
            <a class="navbar-brand" href="/app_folder/home">ワリポケ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
              <!-- ヘッダー右端の処理 -->
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'app_folder:howtouse' %}">このアプリの使用方法</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="#">{{ user.username }}</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="{% url 'app_folder:logout' %}">ログアウト</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'app_folder:login' %}">ログイン</a></li>
                {% endif %}
              </ul> 
            </div>                          
          </nav>
        </div>
      </div>
    </div>

    <!-- コンテンツ本体 -->
    <div id="content" class="container-fluid px-0">
      <div class="row">
        <div class="col-12">
          {% block contents %}
          {% endblock %}
        </div>
      </div>
    </div>
    
  </body>
</html>

<!-- アイコンライブラリ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>feather.replace()</script>
